{% assign product = product %}
{% assign images = product.images %}

<style>
    .enhanced-product-card__image-wrapper {
        position: relative;
        width: 100%; /* Adjust width as needed */
    }
    
    .image-stack {
        position: relative;
    }
    
    .image {
        display: block;
        width: 100%;
        transition: opacity 0.3s ease;
    }
    
    /* Image 0 is on top of image 1 */
    .image-main {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
        z-index: 2;
    }
    
    /* Hover effect to reveal image 1 */
    .image-stack:hover .image-main {
        opacity: 0;
    }
    
    .image-hover {
        position: relative;
        z-index: 1;
    }
    
</style>

<div class="enhanced-product-card__image-wrapper">
        {%- if images.size > 1 -%}
            <div class="image-stack">
                <img src="{{ images[0] | image_url }}" alt="{{ product.title }}" class="image-main">
                <img src="{{ images[1] | image_url }}" alt="{{ product.title }}" class="image-hover">
            </div>
        {% else %}
            <img src="{{ images[0] | image_url }}" alt="{{ product.title }}">
        {%- endif -%}
</div>