{% assign product = product %}
{% assign images = product.images %}

<div class="enhanced-product-card__image-wrapper">
        {%- if images.size > 1 -%}
            <div class="image-stack">
                <img src="{{ images[0] | image_url }}" alt="{{ product.title }}" class="image-main">
                <img src="{{ images[1] | image_url }}" alt="{{ product.title }}" class="image-hover">
            </div>
        {% else %}
            <img src="{{ images[0] | image_url }}" alt="{{ product.title }}">
        {%- endif -%}
</div>