{{ 'black-friday-section.css' | asset_url | stylesheet_tag  }}

{% style %}

    .gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        place-items: center;
        padding-left: {{ section.settings.padding_left }}px;
        padding-right: {{ section.settings.padding_right }}px;
        align-items: flex-end;
    }

    @media screen and (min-width: 900px) {
        .gallery {
            grid-template-columns: repeat(4, 1fr);
            padding-left: {{ section.settings.padding_left |  times: 10 | round: 0}}px;
            padding-right: {{ section.settings.padding_right |  times: 10 | round: 0}}px;
        }

    }

{% endstyle %}

<div id="products-gallery">
    {% paginate collection.products by 10 %}
        <div class="gallery " >
            {% for product in collection.products %}
                {% render 'card-product-blackfriday', product: product %}
            {% endfor %}
        </div>
        {%- if paginate.pages > 1 -%}
            {% render 'pagination', paginate: paginate, anchor: '#products-gallery' %}
        {%- endif -%}
    {% endpaginate %}
</div>

{% schema %}
{
    "name": "black friday",
    "settings": [
        {
            "type": "range",
            "id": "padding_left",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "Left Padding",
            "default": 4
        },
        {
            "type": "range",
            "id": "padding_right",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "Right Padding",
            "default": 4
        }
    ]
}
{% endschema %}