{% style %}
    
    .gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        padding-left: {{ section.settings.padding_left }}px;
        padding-right: {{ section.settings.padding_right }}px;
    }

    .product-card__image {
        width: 100%;
        object-fit: cover;
    }

    .product-card__title {
        font-size: 12px;
    }

    @media screen and (min-width: 900px) {
        .gallery {
        grid-template-columns: repeat(4, 1fr);
        }
    }

{% endstyle %}

<div class="gallery ">
    {% paginate collection.products by 10 %}
        {% for product in collection.products %}
            <div class="product-card">
                <div>
                    <img 
                        src="{{ product.featured_media |  image_url: width: 250 }}" 
                        alt="{{ product.title }}"
                        class="product-card__image"
                        loading="lazy"
                    >
                    
                </div>
                <div
                    class="product-card__info"
                >
                    <p class="product-card__title">
                        {{ product.title }}
                    </p>
                </div>
            </div>
        {% endfor %}
    {% endpaginate %}
</div>

{% schema %}
{
    "name": "black friday",
    "settings": [
        {
            "type": "range",
            "id": "padding_left",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "Left Padding",
            "default": 52
        },
        {
            "type": "range",
            "id": "padding_right",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "Right Padding",
            "default": 52
        }
    ]
}
{% endschema %}