<style>
    .product {
      display: grid;
      place-items: center;
    }
  
    .product_title {
      font-weight: bolder;
    }
  
    .product-wrapper {
      display: grid;
      place-items: center;
    }
  
    .media-container {
      width: 100%;
      max-width: 300px;
      margin: 0 auto;
    }
  
    .swiper {
      position: relative;
      width: 100%;
      height: 400px;
      overflow: hidden;
    }
  
    .swiper-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
    }
  
    .swiper-slide {
      width: 100%;
      height: 100%;
    }

    .swiper-slide img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  
    .swiper-button-prev,
    .swiper-button-next {
      width: 30px;
      height: 30px;
      background-size: cover;
      cursor: pointer;
    }
  
    .swiper-button-prev {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M0,22L22,0l2.1,2.1L4.2,22l19.9,19.9L22,44L0,22L0,22L0,22z' fill='%234c71ae'%3E%3C/path%3E%3C/svg%3E") !important;
      color: black
      }
  
      .swiper-button-next {
          background-image: url('data:image/svg+xml;charset=utf-8,%3Fxml version="1.0" encoding="utf-8"%3F%3Csvg width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M4 12H20M20 12L16 8M20 12L16 16" stroke="%23000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"%3E%3C/path%3E%3C/svg%3E') !important;
          color: black
          }
  
      .gallery {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          justify-content: center;
      }
  
      .gallery img {
          cursor: pointer;
      }
  
      .product-info {
          align-self: flex-start;
      }
  
      .price-sale {
          color: red;
          font-size: 2rem;
          font-weight: 600;
      }
  
      .compare-price {
          font-size: 14px;
          text-decoration: line-through;
      }
  
      @media screen and (min-width: 750px) {
          .product-wrapper {
          grid-template-columns: repeat(2, 1fr);
          }
  
      }
  
      .product-info p {
          margin-bottom: 0;
      }
  
      .size-title {
          margin-top: 0;
      }

      input[type="radio"] {
        -webkit-appearance: none;
        appearance: none;
        margin: 0;
        margin: 0;
        font: inherit;
        color: currentColor;
        width: 1.15em;
        height: 1.15em;
        cursor: pointer;
        border-radius: 50%;
      }

      input[type="radio"]:checked {
        border: 2px solid rgb(32, 99, 255);
        transform: scale(1.2);
      }

    .share {
      text-transform: capitalize;
      font-weight: 600;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;
    }
  
    .share p {
      margin-top: 0;
    }
  
    .share a {
      color: black;
      text-decoration: none;
    }
  
    hr {
      margin: 1rem 0;
    }
  
    .btn {
      display: inline-block;
      margin-top: 2rem;
      background-color: #1E696B;
      color: white;
      padding: 0.8rem 4rem;
      border-radius: 3px;
      border: transparent;
      cursor: pointer;
    }
  
    #quantity {
      display: block;
      margin-top: 2rem;
      width: 104px;
    }
  
</style>



<div class="page-width product">
  {% assign current_variant = product.selected_or_first_available_variant %}

  <h2 class="product_title" id="product_title">
    {{ product.title }}
  </h2>
  <div class="product-wrapper">

    <!-- Product Media -->
    <div class="media-container">
      <!-- Swiper -->
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide" >
            <img src="{{ current_variant.featured_image |  image_url: width: 1000}}" >
          </div>
        </div>
    
        <!-- Navigation buttons -->
        <div class="swiper-button-prev"><span></span></div>
        <div class="swiper-button-next"><span></span></div>
      </div>
    
      <!-- Thumbnails gallery -->
      <div class="gallery">
        <div>
          {{ current_variant.featured_image |  image_url: width: 80 |  image_tag }}
        </div>
      </div>

    </div>
  
    <div class="product-info">

        <!-- product price -->
      {% if current_variant.compare_at_price and current_variant.compare_at_price > current_variant.price %}
        <p class="product-info__price">
            <span class="price-sale">{{ current_variant.price | money }} </span>
            <span class="compare-price">{{ current_variant.compare_at_price | money }}</span>
        </p>
      {% else %}
        <p class="product-info__price">{{ current_variant.price | money }}</p>
      {% endif %}

      <!-- Product Options -->
      {% if product.options.size > 0 %}
        {% for option in product.options %}
          {% if option == 'Color' %}
            <p>{{ option }}:</p>
            {% for value in product.options_by_name[option].values %}
              <label class="color-label">
                <input 
                    type="radio" 
                    name="Color" 
                    value="{{ value }}" 
                    style="background-color: {{ value }};"
                    id="color"        
                >
                
            </label>
              {% endfor %}
              <p></p>
          {% elsif option == 'Size' %}
            <label>
              <p>{{ option }}:</p>
              <select name="Size" id="size">
                <option>Please Select</option>
                {% for value in product.options_by_name[option].values %}
                  <option value="{{ value }}">{{ value }}</option>
                {% endfor %}
              </select>
            </label>
          {% endif %}
        {% endfor %}
      {% endif %}
      
      <p>
        <span id="color-feedback">Color: {{ product.selected_or_first_available_variant.option2 }},</span>
        <span id="size-feedback">Size: {{ product.selected_or_first_available_variant.option1 }}</span>
      </p>

    </div>
  

  </div>

</div> 


<script>
  const colorInput = document.querySelectorAll('#color');
  const sizeInput = document.getElementById('size');
  const variants = {{ product.variants | json }};
  let selectedSize;
  let selectedColor;
  let selectedVariantId;
  const btn = document.getElementById('variant-checker');

  function findVariantId() {
    if (selectedColor && selectedSize) {
      const matchingVariant = variants.find(variant => {
        return variant.option1 === selectedSize && variant.option2 === selectedColor;
      });

      if (matchingVariant) {
        selectedVariantId = matchingVariant.id;
        const currentURL = `${window.location.href}?variant=${selectedVariantId}`;
        window.location.href = currentURL; 
      }
    } else {
      const currentURL = `${window.location.href.split('?')[0]}`;
      history.replaceState({}, '', currentURL); 
    }
  }

  colorInput.forEach(input => input.addEventListener('change', function() {
    document.getElementById('color-feedback').textContent = `Color: ${input.value}, `;
    selectedColor = input.value;
    console.log("selected color:", selectedColor);
    findVariantId();
  }));

  sizeInput.addEventListener("change", function(e) {
    const { value } = e.target;
    document.getElementById('size-feedback').textContent = `Size: ${value}`;
    selectedSize = value;
    console.log("selected size:", selectedSize);
    findVariantId();
  });

  btn.addEventListener('click', findVariantId);

  function setInitialValues() {
    selectedColor = colorInput[0].value;
    findVariantId();
  }

  document.addEventListener("DOMContentLoaded", function() {
    setInitialValues();
  });

  console.log(variants);
</script>







