<style>
    .font-bebas {
        font-family: 'Bebas Neue', sans-serif;
    }
    .font-poppins {
        font-family: 'Poppins', sans-serif;
    }
    .font-source-pro {
        font-family: 'Source Serif Pro', serif;
    }
    #product-grid-wrapper {
        overflow: hidden;
        height: auto;
        transition: height 0.6s ease;
    }
    #product-grid::-webkit-scrollbar {
        height: 4px;
        cursor: pointer;
    }
    #product-grid:hover::-webkit-scrollbar {
        height: 6px;
    }
    #product-grid::-webkit-scrollbar-thumb {
        background-color: #231F20;
        cursor: pointer;
    }

    #product-grid::-webkit-scrollbar-track {
        background-color: #DDD6D7;
    }
</style>

<section id="bestsellers-{{  section.id }}" class="md:pl-[64px] lg:pl-[128px] mb-[36px] md:mb-[100px]">
    <h1 class="text-[28px] md:text-[40px] font-bold mb-6 md:mb-[36px] font-source-pro text-center md:text-left mt-[36px] md:mt-[80px]">{{ section.settings.title }}</h1>
        
        <product-grid-shopify>
            <div id="product-grid-wrapper" class="relative">
                <div id="product-grid" class="flex gap-x-[11px] gap-y-[12px] md:gap-y-[0px] md:gap-x-[24px] flex-wrap justify-center md:flex-nowrap md:overflow-x-scroll md:justify-start md:pb-[52px]">

                        {% for product in section.settings.selected_collection.products %}                            
                            <a class="relative inline-block w-[158px] md:w-[353px]" href="{{ product.url }}">
                                <!-- tags -->
                                <div id="tags-container" class="absolute top-0 z-10 flex justify-between w-full p-[4px] md:p-[8px] font-bebas"></div>
                                
                                <div id="image-wrapper" class="relative overflow-hidden rounded-[10px]">
                                    <image id="featured-image" class="w-full object-fit aspect-[1/1]" src="{{ product.featured_image }}"/>
                                </div>
                
                                <div id="product-info" class="pt-[12px] pb-[8px] pl-[8px] md:p-[16px] md:pl-[12px] flex flex-col gap-[8px] md:gap-[11px]">
                                    <h2 id="product-title" class="text-[16px] md:text-[18px] uppercase font-bebas tracking-[0.48px] md:tracking-[0.54px]"></h2>
                                    <div id="product-rating" class="font-poppins text-[11px] md:text-[12px] flex items-center gap-[4px]">
                                        <div class="md:hidden">
                                            {% comment %} <img src="/assets/stars-mobile.png" alt="stars rating"> {% endcomment %}
                                        </div>
                                        <div class="hidden md:block">
                                            {% comment %} <img src="/assets/stars.png" alt="stars rating"> {% endcomment %}
                                        </div>
                                        1,234 Reviews
                                    </div>
                                    <span id="product-price" class="font-poppins text-[16px] font-medium">{{ product.price }}</span>
                                </div>
                            </a>
                        {% endfor %}
                </div>
            </div>

            <button id="show-more-button" class="tracking-[0.48px] capitalize w-[327px] block rounded-full text-white bg-[#1C1D1D] font-poppins text-[16px] font-semibold px-[8px] py-[16px] ml-[auto] mr-[auto] mt-[12px] [@media(min-width:496px)]:hidden">Show More</button>
        </product-grid-shopify>
</section>

{% schema %}
{
  "name": "bestsellers",
  "tag": "section",
  "settings": [
    {
        "type": "text",
        "id": "title",
        "label": "title",
        "default": "bestsellers"
    },
    {
        "type": "collection",
        "id": "selected_collection",
        "label": "collection"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "bestsellers",
      "category": "Custom",
    }
  ]
}
{% endschema %}
