<style>
    :root {
        --font-family-first: "helvetica";
        --font-family-second: "helvetica";
        --title-font-size-mobile: "{{ section.settings.title_mobile }}px";
        --title-font-size-desktop: "{{ section.settings.title_desktop }}px";
        --subtitle-font-size-mobile: "{{ section.settings.subtitle_mobile }}px";
        --subtitletitle-font-size-desktop: "{{ section.settings.subtitle_desktop }}px";
    }

    .title {
        font-family: var(--font-family-first);
        font-size: var(--title-font-size-mobile);
    }

    .subtitle {
        font-family: var(--font-family-second);
        font-size: var(--subtitle-font-size-mobile);
    }

    @media screen (min-width: 480px) {
        .title {
            font-size: var(--title-font-size-desktop);
        }
        .subtitle {
            font-size: var(--subtitletitle-font-size-desktop);
        }
    }
</style>

<section id="section-{{ section.id }}" class="custom-img-text">
    <div class="custom-img-text__header">
        <span class="title">{{ section.settings.title }}</span>
        <h2 class="subtitle">{{ section.settings.subtitle }}</h2>
    </div>

    <div class="custom-img-text__image">
        <div class="video-wrapper">
            <video controls>
                <source src="{{ section.settings.video_url }}" type="video/mp4">
            </video>
        </div>
    </div>

    <div class="custom-img-text__info">
        <h2>{{ section.settings.card_info_title }}</h2>
        {% for block in section.blocks %}
            <div class="value-prop">
                <div class="image-wrapper icon">
                    <img src="{{ block.settings.value_prop_img | image_url: width: 'small' }}"alt="icon-display">
                </div>
                <p>
                    {{ block.settings.value_prop_text }}
                </p>
                <a href="{{ block.settings.url }}">
                    {{ block.settings.btn_text }}
                </a>
            </div>
        {% endfor %}
    </div>
</section>

{% schema %}
  {
    "name": "poma",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "title",
            "default": "our philosophy",
            "info": "use for setting the section title",
            "placeholder": "our philosophy"
        },
        {
            "type": "range",
            "id": "title_mobile",
            "label": "title mobile font size",
            "default": 16,
            "info": "use to set mobile font size for title",
            "min": 8,
            "max": 100
        },
        {
            "type": "range",
            "id": "title_desktop",
            "label": "title desktop font size",
            "default": 24,
            "info": "use to set desktop font size for title",
            "min": 8,
            "max": 100
        },
        {
            "type": "text",
            "id": "subtitle",
            "label": "subtitle",
            "default": "signed, sealed, derm-approved",
            "info": "use for setting the section subtitle",
            "placeholder": "use for setting the section subtitle"
        },
        {
            "type": "range",
            "id": "subtitle_mobile",
            "label": "subtitle mobile font size",
            "default": 16,
            "info": "use to set mobile font size for subtitle",
            "min": 8,
            "max": 100
        },
        {
            "type": "range",
            "id": "subtitle_desktop",
            "label": "subtitle desktop font size",
            "default": 24,
            "info": "use to set desktop font size for subtitle",
            "min": 8,
            "max": 100
        },
        {
            "type": "url",
            "id": "video_url",
            "label": "video url",
            "info": "needed to render the video"
        },
        {
            "type": "text",
            "id": "card_info_title",
            "label": "card info title",
            "default": "when we say 'signed,' off we mean it's...",
            "info": "use for setting the card info title",
            "placeholder": "when we say 'signed,' off we mean it's..."
        },
        {
            "type": "color",
            "id": "bg_color",
            "label": "background_color",
            "default": "#FFFADD",
            "info": "use to set card info section background color"
        }
    ],
    "blocks": [
        {
            "type": "value_prop",
            "name": "value prop",
            "limit": 3,
            "settings": [
                {
                    "type": "image_picker",
                    "id": "value_prop_img",
                    "label": "value prop image"
                },
                {
                    "type": "richtext",
                    "id": "value_prop_text",
                    "label": "value prop text"
                },
                {
                    "type": "text",
                    "id": "btn_text",
                    "label": "button text",
                    "default": "learn more",
                    "info": "use to set the button text",
                    "placeholder": "learn more"
                },
                {
                    "type": "url",
                    "id": "url",
                    "label": "learn more url",
                    "info": "use to set the url to redirect to"
                },
            ]
        }
    ],
    "presets": [
      {
        "name": "poma"
      }
    ]
  }
{% endschema %}